Repository andreaendigital/CarPricePredictor-Demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, pytest-frontend

pytest-backend:
  name: Backend Tests
  entry: bash -c 'cd backend && python3 -m pytest ../tests/test_backend.py -v --tb=short'
  language: system
  pass_filenames: false

pytest-frontend:
  name: Frontend Tests
  entry: bash -c 'cd frontend && python3 -m pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

feat(SCRUM-60): Create production Docker containerization
  Makefile
  backend/Dockerfile
  frontend/Dockerfile
Due: none

feat(SCRUM-34): Create comprehensive unit test cases
  backend/app.py
  backend/modelo/modelo.joblib
  backend/vehiculos.json
  tests/test_backend.py
  tests/test_integration.py
Due: pytest-backend

fix(SCRUM-34): Fix end-of-file formatting in vehiculos.json
  backend/vehiculos.json
Due: none

fix(SCRUM-36): Fix formatting issues in test documentation
  Makefile
  TEST_RESULTS.md
  backend/vehiculos.json
  frontend/api/__init__.py
  frontend/api/routes.py
  frontend/config/__init__.py
  frontend/config/settings.py
  frontend/logic/__init__.py
  frontend/logic/data_processor.py
  frontend/logic/predictor.py
  frontend/static/css/animations.css
  frontend/static/css/style.css
  frontend/static/js/app.js
  frontend/templates/index.html
  frontend/templates/layout.html
  frontend/tests/test_api_endpoints.py
  frontend/tests/test_logic_unit.py
Due: pytest-frontend

Initial commit on new-car branch
  backend/vehiculos.json
Due: none

Fix GHCR authentication - use direct docker login
  .github/workflows/ci-cd.yml
Due: none

Test branch creation
  .github/workflows/ci-cd.yml
Due: none

SCRUM-96: Implement TOML Migration and Development Environment Optimization
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .gitignore copy
  Makefile
  README copy.md
  README.MD
  backend/Dockerfile
  backend/requirements.txt
  backend/vehiculos.json
  config/.dockerignore
  config/.pre-commit-config.yaml
  config/docker-compose.dev.yml
  config/mkdocs.yml
  docs/api/endpoints.md
  docs/architecture/components.md
  docs/backend/readme_swagger.md
  docs/development/CHANGELOG.md
  docs/development/TEST_RESULTS.md
  docs/index.md
  frontend/Dockerfile
  frontend/requirements.txt
  pyproject.toml
  requirements.txt
  scripts/dev-status.sh
  scripts/docker-status.sh
  scripts/start-local.sh
  tests/README.md
  vehiculos.json
Due: none

feat: update vehicle data and documentation config
  backend/vehiculos.json
  config/mkdocs.yml
Due: none

fix: correct Dockerfile paths for CI/CD build context
  backend/Dockerfile
  frontend/Dockerfile
Due: none

fix: use root context for Docker builds in CI/CD
  .github/workflows/ci-cd.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

fix: update CI/CD to use pyproject.toml instead of requirements.txt
  .github/workflows/ci-cd.yml
Due: none

First Endpoint for the backend, GET done
  backend/app.py
Due: pytest-backend

Fix CI/CD docs build: correct docs_dir path in mkdocs.yml
  config/mkdocs.yml
Due: none

Fix docs workflow: add config/mkdocs.yml to trigger paths
  .github/workflows/docs.yml
Due: none

Fix docs workflow: use direct mkdocs command with correct paths
  .github/workflows/docs.yml
Due: none

Fix all documentation build issues
  .github/workflows/docs.yml
  .gitignore
  Makefile
  backend/vehiculos.json
  mkdocs-temp.yml
Due: none

Scrum-58 Development of an endpoint for a future price
  backend/app.py
Due: pytest-backend

Scrum-59 Flask implementation
  backend/app_swagger.py
Due: pytest-backend

SCRUM-99: Refactor README documentation for educational demo
  README.MD
  backend/app.py
  backend/vehiculos.json
Due: pytest-backend

SCRUM-99: Fix end-of-file formatting in vehiculos.json
  backend/vehiculos.json
Due: none

SCRUM-88: Enhance API documentation layout and reduce redundant formats
  backend/app_swagger.py
  backend/vehiculos.json
  docs/api/endpoints.md
  docs/backend/readme_swagger.md
  scripts/docker-status.sh
  scripts/start-local.sh
Due: pytest-backend

SCRUM-88: Fix formatting issues from pre-commit hooks
  backend/app_swagger.py
  backend/vehiculos.json
Due: pytest-backend

docs: streamline documentation structure and enhance Quick Start section
  docs/index.md
Due: none

SCRUM-98 segunda edicion de readme
  README.MD
Due: none

SCRUM-98 tercera edicion de readme
  README.MD
Due: none

Convert frontend to Flask-only architecture
  Makefile
  README.MD
  backend/Dockerfile
  backend/app.py
  backend/app_swagger.py
  backend/vehiculos.json
  config/.pre-commit-config.yaml
  docs/architecture/components.md
  frontend/Dockerfile
  frontend/api/__init__.py
  frontend/api/routes.py
  frontend/app.py
  frontend/config/__init__.py
  frontend/config/settings.py
  frontend/logic/__init__.py
  frontend/logic/data_processor.py
  frontend/logic/predictor.py
  frontend/static/js/app.js
  frontend/templates/index.html
  frontend/templates/layout.html
  frontend/tests/test_api_endpoints.py
  frontend/tests/test_logic_unit.py
  tests/test_backend.py
  tests/test_frontend.py
  tests/test_integration.py
Due: pytest-backend, pytest-frontend

Fix pre-commit hooks: use temp file for tests, disable coverage by default
  backend/vehiculos.json
  config/.pre-commit-config.yaml
  pyproject.toml
  tests/test_backend.py
Due: pytest-backend

Fix Docker dev hanging: add 5s timeout to backend requests
  frontend/app.py
Due: pytest-frontend

✨ Clean up frontend code to enterprise standards
  README.MD
  backend/vehiculos.json
  frontend/app.py
  frontend/static/css/style.css
  frontend/templates/index.html
Due: pytest-frontend

🐳 Improve Docker naming conventions
  Makefile
  backend/vehiculos.json
  config/docker-compose.dev.yml
Due: none

SCRUM-98 editing readme
  README.MD
Due: none

SCRUM-100 All endpoints translated
  .github/PULL_REQUEST_TEMPLATE.md
  README.MD
  backend/app.py
  backend/app_swagger.py
  backend/vehiculos.json
  docs/api/endpoints.md
  docs/backend/readme_swagger.md
  docs/development/CHANGELOG.md
  docs/development/TEST_RESULTS.md
  docs/index.md
  frontend/app.py
  frontend/templates/index.html
  tests/README.md
  tests/test_backend.py
  tests/test_integration.py
Due: pytest-backend, pytest-frontend

🚀 Enhance CI/CD pipeline with 10-stage structure
  .github/workflows/ci-cd.yml
  backend/vehiculos.json
Due: none

🔧 Fix code quality stage for CI environment
  .github/workflows/ci-cd.yml
Due: none

🔧 Make code quality checks non-blocking
  .github/workflows/ci-cd.yml
Due: none

fix: remove duplicate deploy-prod job in CI/CD pipeline
  .github/workflows/ci-cd.yml
  config/mkdocs.yml
  docs/cicd/pipeline.md
  docs/index.md
  mkdocs-temp.yml
Due: none

feat(docs): enhance PR template with professional GitHub-themed UI
  .github/PULL_REQUEST_TEMPLATE.md
  backend/vehiculos.json
  docs/assets/images/1.jpeg
  docs/assets/images/10.png
  docs/assets/images/11.png
  docs/assets/images/12.png
  docs/assets/images/2.jpeg
  docs/assets/images/3.jpeg
  docs/assets/images/5.jpeg
  docs/assets/images/6.png
  docs/assets/images/7.png
  docs/assets/images/8.jpeg
  docs/cicd/pipeline.md
  photos/1.jpeg
  photos/10.png
  photos/11.png
  photos/12.png
  photos/2.jpeg
  photos/3.jpeg
  photos/4.jpeg
  photos/5.jpeg
  photos/6.png
  photos/7.png
  photos/8.jpeg
  pr_template_rendered.html
  tests/test_backend.py
Due: pytest-backend

Path conditions:
  pytest-backend: any of: ^(backend|tests)/.*\.py$
  pytest-frontend: any of: ^frontend/.*\.py$
